@import "../../../utils/variables";

.school__title {
    color: $color-bg;

    font-family: Avenir;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 115%;
    margin: 0;
}

.school__title_start {
    margin-bottom: 15px;
}

.school__title_colored {
    color: $color-accent;
}

.school__desc {
    color: $color-bg;
    text-align: left;

    font-family: Avenir;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.school__title_1 {
    margin-top: 49px;
    font-size: 30px;
    line-height: 120%;
}

.school__desc_mini {
    font-size: 14px;
    margin-bottom: 68px;
}

.school__button-try {
    margin-bottom: 89px;
}
