@import "../../../utils/variables";

.contacts {
    min-height: 369px;
    background-color: $color-bg;
    padding: 103px 0 0 152px;
    display: flex;
    flex-wrap: wrap;
}

.contacts__logo {
    width: 102.01px;
    height: 102.98px;
    margin: 4px 276px 60px 0;

    filter: invert(14%) sepia(7%) saturate(1818%) hue-rotate(221deg)
        brightness(90%) contrast(88%);
}
