@import "../variables";

body {
    margin: 0;
    font-family: Avenir;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body * {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.anchor {
    position: relative;
    top: -$height-header;
    visibility: hidden;
}
