@import "../../../utils/variables";

.possibilities {
    min-height: 1175px;
    /* max-width: 1536px; */
    padding: 82px 0 0 152px;
    background: #f3f6ef;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    position: relative;
    overflow: hidden;
}

.possibilities * {
    z-index: 2;
}

.possibilities__title {
    color: var(--Ed-Space, $color-primary);
    font-family: Avenir;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 115%; /* 46px */

    margin: 0 0 23px 0;
}

.possibilities__desc {
    color: var(--Ed-Space, #6e6c72);
    text-align: center;

    /* Text */
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    margin: 0;

    /* width: 776px; */
}

.possibilities__card-container {
    display: flex;
    width: auto;
    /* max-width: calc(388px*3 + 33px*2); */
    row-gap: 31px;
    column-gap: 27px;
    flex-wrap: wrap;
    margin: 84px 0 83px 0;
}

.possibilities__circle-purple {
    position: absolute;
    z-index: 1;
    top: 173px;
    right: calc(-1251px + 696px);

    width: 1251px;
    height: 1210px;

    border-radius: 1251px;
    // background: var(--9-e-00-ff, #9e00ff);
    background: #9e00ff;
    filter: blur(182.5px);
}

.possibilities__circle-lightblue {
    position: absolute;
    z-index: 1;
    top: calc(-1021px + 680px);
    left: -427px;

    width: 1056px;
    height: 1021px;

    border-radius: 1056px;
    background: var(--Accent, #6bffca);
    filter: blur(206px);
}

.possibilities__button-try {
    margin-bottom: 88px;
}
