@import "../../../utils/variables";

.target {
    display: flex;
    position: relative;
    width: min-content;
}

.target__text {
    top: 2px;
    left: calc(141.58px + 31.42px);
    display: flex;
    flex-direction: column;
}

.target__title {
    min-width: 315px;
    max-width: 341px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-bg;
}

.target__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-bg;
}
